.container {
  /* border: 1px solid red;  */
}

.rec-title {
  background-color: rgb(38, 47, 66);
  display: flex;
}

.rec-routelist {
  /* border: 1px solid purple; */
  border-radius: 8px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 3px;
}

.rec-content {
  background-color: rgb(38, 47, 66);

}

.rec-content-edited {
  background-color: rgb(78, 28, 28);
  
}

.invisible {
  display: none !important;
}