.leaflet-control-attribution {
  background-color: transparent !important;
}
@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}

#map {
    background: black;
}

.invisible {
  display: none !important;
}

article {
  padding-left: 5px;
  padding-right: 5px;
}

.rec-title {
  background-color: rgb(38, 47, 66);
  display: flex;

  padding-left: 8px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 1px;
  overflow: hidden;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  /* border-color: VAR ; */
}

.rec-routecolorbox {
  /* background-color: ${routeColor}; */

  /* border: 1px solid purple; */
  color: black;

  border-radius: 8px;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  line-height: 29px;
}

.rec-content {
  background-color: rgb(38, 47, 66);

}

.rec-content-edited {
  background-color: rgb(78, 28, 28);
  
}

[name="record-container"] {
  margin-bottom: 1px;
}

.propselect {
  margin-bottom: 5px;
}

.datetimeinput {
  margin-bottom: 5px !important;
}

.officerselect {
  margin-bottom: 5px;
}

.picturearea {
  display: flex;
  justify-content: space-between;
  height: 133px
}

.buttonbox {
  display: flex;
  justify-content: space-around;
}
/* ----------- */

label {
  color: rgb(128, 128, 128, 0.4);
  font-size: 12px;
  position: absolute;
  top: -2px;
  left: 5px;
  text-decoration: underline;
}

.dispatchrecord {
  margin-bottom: 1px;
}

.readonly-text {
  margin: 0;
  padding-block: 1px;
  padding-inline: 2px;    
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
  border: var(--pico-border-width) solid var(--pico-form-element-border-color);
  border-radius: var(--pico-border-radius);
  box-shadow: none;
  background-color: var(--pico-form-element-background-color);
  
  color: var(--pico-form-element-color);
  font-weight: var(--pico-font-weight);
  font-size: 1rem;
  line-height: var(--pico-line-height);
  font-family: inherit;
  letter-spacing: inherit;

  appearance: none;
  outline: 0;

  overflow:visible;
  
  margin-bottom: 5px;

  transition: background-color 0.2s ease-in-out,
  border-color 0.2s ease-in-out,
  color 0.2s ease-in-out,
  box-shadow 0.2s ease-in-out;

}

.readonly-text:is(:active) {
  background-color: var(--pico-form-element-background-color);
  border-color: var(--pico-form-element-active-border-color);

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.readonly-text:is(:focus) {
  /* --pico-outline-width: 0.125rem; */
  /* --pico-border-width: 0.012rem; */
  /* --pico-border-color: var(--pico-form-element-active-border-color); */
  /* --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color); */
  /* --pico-background-color: var(--pico-form-element-active-background-color); */

  background-color: var(--pico-form-element-background-color);
  border: var(--pico-border-width) solid var(--pico-form-element-active-border-color);
  box-shadow: 0 0 0 0.0625rem var(--pico-form-element-focus-color);

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

