.leaflet-control-attribution {
  background-color: transparent !important;
}
@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
	}
}

#map {
    background: black;
}

.invisible {
  display: none !important;
}

.rec-title {
  background-color: rgb(38, 47, 66);
  display: flex;

  padding-left: 8px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 1px;
  overflow: hidden;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  /* border-color: VAR ; */
}

.rec-content {
  background-color: rgb(38, 47, 66);

}

.rec-content-edited {
  background-color: rgb(78, 28, 28);
  
}

[name="record-container"] {
  margin-bottom: 1px;
}

.rec-routecolorbox {
  /* background-color: ${routeColor}; */

  /* border: 1px solid purple; */
  border-radius: 8px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.propselect {
  margin-bottom: 5px;
}

.datetimeinput {
  margin-bottom: 5px !important;
}

.officerselect {
  margin-bottom: 5px;
}

.picturearea {
  display: flex;
  justify-content: space-between;
  height: 133px
}

.buttonbox {
  display: flex;
  justify-content: space-around;
}
/* ----------- */

label {
  color: rgb(129, 129, 129);
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 5px;
}

.dispatchrecord {
  margin-bottom: 1px;
}