.container {
  /* border: 1px solid red;  */
}

.rec-content {
  background-color: rgb(38, 47, 66);

}

.rec-content-edited {
  background-color: rgb(78, 28, 28);
  
}

.invisible {
  display: none !important;
}